body{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  //font-family: 'Barlow Condensed', sans-serif;
  font-display: swap;
}

a{
  text-decoration: none;
}

a:link {
  color:white;
}

.imagen {
  background-image: url('../img/auto_practica.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 87vh;
  position:relative;
}

.contenedor-encabezado{
  width: 80%;
  height: 87vh;
  box-sizing: border-box;
  margin: auto;
  text-shadow: 1px 1px 3px black;
  font-weight: 700;
  position: relative;
}
.encabezado {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #FFD800;
  width: 80%;
  height: 7em;
  margin: auto;
  border-radius: 30px 0 0 30px;
  opacity: 90%;
  float: left;
  position: sticky;
  top: 30px;
  box-shadow: 3px 3px 6px #000;
}

.encabezado p{
  text-align: center;
  font-size: 48px;
  margin: auto;
}

.telefono {
  background-color: #fff;
  background-image: url('../img/volante_CRM2.png');
  background-size: cover;
  width: 10em;
  height: 10em;
  border-radius: 0 30px 30px 30px;
  float: left;
  position: sticky;
  top: 30px;
  right: 30px;
  box-shadow: 3px 3px 6px #000;
}
.telefono p{
  text-align: center;
  font-size: 32px;
  margin: auto;
}

.contenedor-navegacion{
  //background-image: url('../img/carro.jpg');
  width: 100%;
  height: 160vh; /*modifica sticky de navegacion*/
  box-sizing: border-box;
  margin: auto;
}

.contenedor-cuadros{
  width: 80%;
  height: 120vh;
  margin: auto;
}
.cuadros {
  background-color: #ccc;
  width: 100%;
  height: 620px;
  padding: 2em 0;
  margin: 1em;
  text-align: center;
  border-radius: 30px;
  box-shadow: 3px 3px 6px #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.5s
}

.cuadros h2 {
  text-align: center;
  font-size: 2em;
  font-style: italic;

}
.cuadros i{
  color:green;
}

.cuadros:hover {
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 0px #000;
}

.cuadros p{
  margin: 1em;
  font-size: 1.2em;
}

.contenedor-cuadros2{
  background-color: #aaa;
  width: 100%;
  height: 250vh;
  margin: auto;
  padding: 2em 0;
}

.cuadros2{
  width: 80%;
  position: relative;
  padding: 0;
  margin: auto;
}
.cuadro2-texto {
  background-color: white;
  width: 60%;
  height: 380px;
  padding: 2em;
  margin: 2em 0;
  border-radius: 30px 0 0 30px;
  box-shadow: 3px 3px 6px #000;
}

.cuadro2-texto p{
  font-size: 1.2em;
  color:black;
  width: 90%;
  padding: 0;
  margin: 0.5em 0;
}

.cuadro2-imagen {
  background-color: #eee;
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  box-shadow: 3px 3px 6px #000;
}
.cuadro2-imagen p{
  margin: 0.5em 0em 0em 1em ;
  padding: 0;
  text-shadow: 1px 1px 1px black;
}

#titulo2, #titulo3 {
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  font-style: italic;
}

.navegacion {
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0px;
}


a:visited{
  color:white;
  text-decoration: none;
}

#inicio a:visited {
  text-decoration: none;
  background-color: #FFD800;
  color: white
}

.navegacion li {
  width: 25%;
  height: 3em;
  background-color: #FFD800;
  //color: black;

  display: inline-block;
  padding: 1.6em 0 0 0;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 3px black;
}

.navegacion li:hover {
  background-color: black;
  color:white;
}

.navegacion ul {
  margin: 0;
  padding: 0;
  font-size: 0px;
}

#inicio {
  background-color: black;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}

#inicio:hover {
  background-color: #FFD800;
  color: black;
}


#whatsapp {
  background-image: url('../img/whatsapp_ico.png');
  background-size: cover;
  width: 4.8em;
  height: 4.8em;
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 1;
}

#facebook {
  background-image: url('../img/facebook_ico.png');
  background-size: cover;
  width: 4.8em;
  height: 4.8em;
  position: fixed;
  bottom: 200px;
  right: 15px;
  z-index: 1;
}

#instagram {
  background-image: url('../img/instagram_ico.png');
  background-size: cover;
  width: 4.8em;
  height: 4.8em;
  position: fixed;
  bottom: 300px;
  right: 15px;
  z-index: 1;
}

footer{
  background-color: black;
  padding-top: 200px;
  width: 100%;
  height: 87vh;
}
.pie-contenedor {
  margin: auto;
  width: 87vw;
  height: 87vh;
}

.pie {
  padding-top: 2em;
  color: white;
  width: 30%;
  height: 83%;
  margin: auto;
  float: left;
}

.pie-logo {
  font-weight: 700;
  font-size: 2em;
}

.pie-menu span{
  font-weight: 700;
  font-size: 2em;
}
.pie-menu li{
  font-weight: 400;
  font-size: 1em;
  list-style: none;
  padding: 1em 0;
}

.pie-menu ul {
  margin: 0;
  padding: 0;
  padding-top: 2em;
}

.pie-contacto p {
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.pie-direccion, .pie-email, .pie-tlf {
  margin-top: 2em;
}

.pie-direccion span {
  font-weight: 400;
  margin-left: 2em;
}

.pie-email span {
  font-weight: 400;
  margin-left: 1em;
}

.pie-email a:link {
  color:white;
}


.pie-tlf span {
  font-weight: 400;
  margin-left: 1em;
}
.pie-tlf a:link {
  color:white;
}

.final {
  width: 87vw;
  float: left;
  border-top: 2px solid #888
}
.final h3 {
  color: white;
  margin: 1em 0;
  padding: 0;
}


@media only screen and (max-width: 640px){

  #instagram, #whatsapp, #facebook{
    position: fixed;
    width: 2em;
    height: 2em;
  }
  #whatsapp{bottom: 50px;right: 5px;}
  #facebook{bottom: 100px;right: 5px;}
  #instagram{bottom: 150px;right: 5px;}

  .encabezado {
    height: auto;
    margin: auto;
    border-radius: 30px;
    float: none;
  }
  .contenedor-encabezado{
    width: 100%;
  }
  .telefono{
    position: sticky;
    left: 2em;
    top: 100%;
    border-radius: 30px;
  }

  .contenedor-navegacion{
    height: 210vh;
  }

  .navegacion{
    position: static;
  }
  .navegacion li {
    width: 100%;
    height: 3em;
    margin: auto;
  }
  .contenedor-cuadros{
    width: auto;
    height: 150vh;
  }
  .cuadros{
    width: 90%;
    height: auto;
    margin: auto;
  }
  .cuadros h2{
    font-size: 2em;
  }
  .cuadros p{
    margin: 0.7em 0.7em;
    text-align: left;
    font-size: 1em;
  }
  .contenedor-cuadros2{
    height: 340vh;
  }
  .cuadros2{
    width: 90%;
    position: static;
  }
  .cuadro2-texto{
    width: auto;
    height: auto;
    padding: 1em 1em;
    margin: 3em 0 0 0;
    border-radius: 30px 30px 0 0;
  }
  .cuadro2-texto p{
    font-size: 1em;
    width: auto;
    margin: 0.2em 0;
  }
  .cuadro2-imagen{
    position: static;
    width: auto;
  }
  .cuadro2-imagen p {
    margin: 0;
    padding: 0.3em 0.5em;
  }
  #titulo2, #titulo3 {
    font-size: 36px
  }
  footer{
    padding-top: 4em;
    height: 170vh;
  }
  .pie-contenedor{
    height: auto;
  }
  .pie{
    float: none;
    width: auto;
    height: auto;
    padding: 0;
    margin-bottom: 3em;
  }


  .contenedor-navegacion{
    height: 450vh;
  }

}
